<table class="btn btn-{{type}}">
  <tr>
    <td align="center">
      <table>
        <tr>
          <td>
            <a href="{{href}}">{{text}}</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
