<!-- LEGEND -->
<table class="graph-legend" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <img src="{{imgSrc}}/legend-primary.gif" height="7" width="7" alt="" />
      &nbsp;
      <span class="graph-legend-text">{{weekly_digest_current_week}}</span>
    </td>
  </tr>
  <tr>
    <td>
      <img src="{{imgSrc}}/legend-grey.gif" height="7" width="7" alt="" />
      &nbsp;
      <span class="graph-legend-text">{{weekly_digest_previous_week}}</span>
    </td>
  </tr>
</table>
