<tr>
  <td align="center">
    <h2 class="section-title">
      <img height="22" width="22" src="{{imgSrc}}/{{icon}}.png" alt="" />
      <span class="title-text">&nbsp;{{text}}</span>
    </h2>
  </td>
</tr>
