---
email_reset_password_subject: <%= i18n[language]['general'].email_reset_password_subject %>
email_reset_password_description: <%= i18n[language]['general'].email_reset_password_description %>
email_reset_password_action: <%= i18n[language]['general'].email_reset_password_action %>
title: <%= i18n[language]['general'].email_reset_password_subject %>
---
<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
	<tr>
		<td class="content-wrap body-content">
			<meta itemprop="name" content="Confirm Email" />
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="content-block">
						<h2>{{email_reset_password_subject}}</h2>
					</td>
				</tr>
				<tr>
					<td class="content-block">
						{{{email_reset_password_description}}}
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="btn-container" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
			<table class="btn btn-primary">
			<tr>
				<td align="center">
					<table>
						<tr>
							<td>
								<a href="{{raw '[[url]]'}}">{{email_reset_password_action}}</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
