.call-to-action {
  text-align: center;
  padding-top: 30px;

  p {
    padding-bottom: 10px;
    color: $grey-darker;
    font-size: $font-size-small;
    line-height: 1.3;
    max-width: 300px;
    margin: 0 auto;
  }
}

.call-to-action-table {
  background-color: $white;
  padding: 30px;

  .btn-col {
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;

    .btn {
      white-space: nowrap;
    }
  }

  .text-col {
    vertical-align: middle;

    p {
      text-align: left;
      font-size: $font-size-small;
      line-height: 1.3;
    }
  }
}
