$mixValue: 5%;

.competitors-row {
  text-align: left;

  .competitors-title-col {
    text-align: left;
    border-top: 1px solid $white;
    padding: 10px !important;
  }

  .competitors-title {
    font-size: 15px;
    text-align: left;
    padding-bottom: 10px;
    color: $grey-medium;

    a {
      font-weight: $font-weight-semibold;
      color: $grey-medium;
      text-decoration: none;
    }
  }

  .keyword-tag,
  .keyword-position,
  .keyword-change {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
  }

  .keyword-text-col {
    padding-top: 0 !important;
  }
}
