$barHeight: 30px;

.graph-bar-stacked {
  vertical-align: middle;
  padding-top: 15px;

  .bar {
    padding: 0;
    text-align: left;
    color: $white;
    font-size: 11px;
    background-color: $grey;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    min-height: $barHeight;
    max-height: $barHeight;
    height: $barHeight;
    line-height: 18px; // Outlook hack

    @each $color, $colorValue in $colors {
      &.#{$color} {
        background-color: $colorValue;
      }
    }
  }
}
