$mixBackground: 25%;

.keyword-tag {
  vertical-align: middle;
  padding: 10px 0 0 0;
  text-align: left;
  width: 100px;
  line-height: 1%; // Outlook hack

  td,
  img {
    padding: 0 !important;
    margin: 0 !important;
  }

  .keyword-tag-table {
    height: 28px;
    vertical-align: middle;

    @each $color, $colorValue in $colors {
      &.#{$color} .keyword-inside-table {
        background-color: get-variant-color($color, 'smoke');
        color: $colorValue;
      }
    }
  }

  .keyword-label {
    vertical-align: middle;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    white-space: nowrap;
    line-height: 12px; // 25-13 Outlook hack
  }

  .keyword-corner,
  .keyword-end {
    text-align: left;
    vertical-align: middle;
  }

  .corner {
    height: 28px !important;
    width: 18px !important;
  }

  .keyword-end {
    width: 5px;
    min-width: 5px;
    max-width: 5px;
  }

  .keyword-inside {
    text-align: left;
    vertical-align: middle;
    height: 28px;
  }

  .keyword-inside-table {
    width: auto;
  }
}

.keyword-position-text,
.keyword-position {
  vertical-align: middle;
  font-weight: $font-weight-semibold;
}


.keyword-change {
  vertical-align: middle;
  font-weight: $font-weight-semibold;
  color: $grey;

  img,
  .keyword-change-text {
    display: inline-block;
    vertical-align: middle;
  }

  &.up {
    color: $success;
  }

  &.down {
    color: $error;
  }
}
