.title-box-text {
  color: $white !important;

  .url {
    color: $white;
  }
}

.section-title {
  vertical-align: middle;
  margin-bottom: 20px;

  img,
  .title-text {
    display: inline-block;
    vertical-align: middle;
  }
}

.section-sub-title {
  color: $grey-medium !important;
  margin-bottom: 10px;
  font-weight: $font-weight-semibold;
}

.section-small-title {
  margin-top: 15px;
  font-size: $font-size-small;
  font-weight: $font-weight-semibold;
  color: $grey-dark;
}
